OPENAI_API_KEY="sk-proj-XPiQcE5lRxCfH7YgsXuBAQjQkCUVRm1YLuYekK31uTaZhbmxpKC4GT3BlbkFJdnqw_AjsE8FZe8N6XwBWkFO-deFdQb3mpnEVlkuhG2OaDsZeoC5zH9bW43XGK3JVCWasr3e2YA"
SUPABASE_URL="https://jklgjylfwkxqyltz.supabase.co"
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImprbGdqem93bHlsZndreHF5bHR6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTxMCwiZXhwIjoyMDcyNTU0MDEwfQ.6r2QCS4i5i2Pwz0gBHV0nznH6plL_Vt911UCMKq7DGI
SUPABASE_JWT_SECRET="LxTSznIGIcKaoSqYHDXmIjp9thgPbEU/bChBG5vqLZmhapwGkCM85GABlfFw/PUG5MD31m8Dzx7oQ=="
APP_BUCKET_BOOKS=books
APP_BUCKET_COVERS=covers
ALLOW_DEV_BYPASS=false
DEV_USER_ID=xyz
# COINGATE_API_TOKEN="xXh8UsFKnz-BwdoMkfGB_XDSy6d2rsvNUJz"
# COINGATE_SANDBOX_API_KEY="8UDxpL7WzmPpySDXE3_b2G2K5EyKA"

PAYPAL_CLIENT_ID="Acjs8lGBgM5w-lhM4REDU-Pa9NUh-HybkLxybfUmC0agmWvGt2lvYFUw7OaOOEGqxmR-M7I"
PAYPAL_CLIENT_SECRET="EKWOdKRt4AUSRb76AOzkvfFbTnf_VYmaiDLgkWxtLO7MB9QaXX7uLc1FkevR4Bf_9CF0fRb1"

# PAYPAL_SANDBOX_USERNAME="sb-aabw7010844@business.example.com"
# PAYPAL_SANDBOX_PASSWORD=".KEl?8+"

# PAYPAL_CLIENT_USERNAME="sb-lx4y3@personal.example.com"
# PAYPAL_CLIENT_PASSWORD="A8w[5"
# PAYPAL_SUB_PROD_ID="PROD-9HF2970302690X"
# PAYPAL_ONET_PROD_ID="PROD-1GS248G1854321"

ZOHO_CLIENT_ID="1000.ZU9RNDNW0R0W19DR08QUATICL"
ZOHO_CLIENT_SECRET="fdf191af404c8cfa0be50ff9a20e61dd408bb"
ZOHO_REFRESH_TOKEN="1000.0314c63bd1cb7a3354938096b7e.cf376760cce2c514c03fc1c9e79bc211"
# ZOHO_ACCESS_TOKEN="1000.01b910c68a5dadf2953e1000eac.0988ab656bad04bf6236d6a0a75b2511"
PAYPAL_PRODUCT_ID="PROD-90840302690X"

JOB_RUNNER_SECRET="aash20701"

BACKEND_URL="api.mysaras.club"
FRONTEND_URL="www.mysaras.club"